{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}
<!-- Content Header (Page header) -->
<div id="home">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inicio</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio:inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Etiquetas de estado -->
    <section class="content-header" id="tags">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-xl-6">
                    <a class="btn btn-success" id="btn_report" onclick="reportMensual()">Generar reporte</a>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ data.total_book }}</h3>
                            <p>Ejemplares totales en existencia</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-boxes"></i>
                        </div>
                        <a href="{% url 'acervo:acervo' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ data.book_prestados_t }}</h3>
                            <p>Titulos prestados en el mes</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <a href="{% url 'catalogo:prestamos_View' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ data.book_movimiento }}</h3>
                            <p>Titulos en movimiento</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-spinner"></i>
                        </div>
                        <a href="{% url 'catalogo:prestamos_View' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div id="contentTitle" class="row">
                <div class="col-xl-6 align-self-center">
                    <h5 class="text-bold">Visualizaciones de los reportes de estadía</h5>
                </div>
            </div>
            <div class="table-responsive bg-white p-2" id="table_views_report">
                <div class="row pb-2">
                    <div class="col-xl-3 text-right d-flex">
                        <span class="align-content-center mr-1">Mostrar</span>
                        <form method="GET" id="form_tab_select">
                            <select name="m_tab" id="select_tabs" class="form-select">
                                <option value="10" {% if request.GET.m_tab == "10" %}selected{% endif %}>10</option>
                                <option value="20" {% if request.GET.m_tab == "20" %}selected{% endif %}>20</option>
                                <option value="50" {% if request.GET.m_tab == "50" %}selected{% endif %}>50</option>
                                <option value="100" {% if request.GET.m_tab == "100" %}selected{% endif %}>100</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-xl-3 d-flex">
                        <span class="align-content-center mr-1" >Periodo</span>
                        <form method="GET" id="form_per_select">
                            <select name="periodo_opt" class="form-select w-auto" id="periodo_opt">
                                <option value="all" {% if request.GET.periodo_opt == "all" %}selected{% endif %}>Todo</option>
                                <option value="0" {% if request.GET.periodo_opt == "0" %}selected{% endif %}>Este mes</option>
                                <option value="1" {% if request.GET.periodo_opt == "1" %}selected{% endif %}>Mes anterior</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-xl-6">
                        <div class="search d-flex justify-content-end">
                            <form method="GET">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="search" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                        <span class="input-group-list">
                                            <i class="icon icon-search"></i>
                                            <button type="submit" class="btn">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if data.ctrl_view %}
                    <table id="tbl_prestamo_es" class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="text-center">Persona quien consulta</th>
                                <th class="text-center">Reporte consultado</th>
                                <th class="text-center">Carrera</th>
                                <th class="text-center">Fecha de consulta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ctrl in data.ctrl_view %}
                            <tr>
                                <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="{{ ctrl.fullname }}" style="cursor: pointer;">{{ctrl.persona}}</td>
                                <td class="text-center">{{ctrl.reporte}}</td>
                                <td class="text-center">{{ctrl.carrera}}</td>
                                <td class="text-center">{{ctrl.fecha_consulta|date:"d-m-Y"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'inicio/paginacion.html' %}
                {% else %}
                    {% include 'sin_registros.html' %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <!-- Sección de Dashboard Pie-->
                    {% if data.total_state > 0 %}
                    <figure class="highcharts-figure" id="chartPie" data-states="{{ data.states }}">
                        <div id="container"></div>
                    </figure>
                    {% endif %}
                </div>
                <div class="col-xl-4">
                    <figure class="highcharts-figure" id="chartColum" data-libros="{{ data.cant_libros }}"
                        data-discos="{{ data.cant_discos }}" data-revistas="{{ data.cant_revistas }}">
                        <div id="container_colum"></div>
                    </figure>
                </div>
                <div class="col-xl-4">
                    <figure class="highcharts-figure" id="chartColumAdqui" data-valueadqui="{{ data.value_adqui }}"
                        data-nameadqui="{{ data.name_cole }}" style="text-decoration: none;">
                        <div id="adqui_colum"></div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/inicio.js' %}"></script>
{% endblock %}