{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}
<!-- Content Header (Page header) -->
<div id="home">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inicio</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio:inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Etiquetas de estado -->
    <section class="content-header" id="tags">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-xl-6">
                    <a class="btn btn-success" id="btn_report" onclick="reportMensual()">Generar reporte</a>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xl-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ total_books_cant }}</h3>
                            <p>Ejemplares totales en existencia</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-boxes"></i>
                        </div>
                        <a href="{% url 'acervo:acervo' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>
                                {% if total_borrowed_books is None %}
                                    0
                                {% else %}
                                    {{ total_borrowed_books }}
                                {% endif %}
                            </h3>
                            <p>Titulos prestados en el mes ({% now "F" %})</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <a href="{% url 'catalogo:prestamos_View' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/inicio.js' %}"></script>
{% endblock %}