{% extends 'base.html' %}
{% load static %}
{% block title %} Acervo {% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/acervo.css' %}">
{% endblock %}

<!-- Content Header (Page header) -->
<div id="acervo">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Acervo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio:inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                        <li class="breadcrumb-item text-info">Acervo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="content mx-4 pb-3">
        <div id="contentTitle" class="row">
            <div class="col-xl-6 align-self-center">
                <h5 class="text-bold">Tabla de registros</h5>
            </div>
            <div class="col-xl-6">
                <a type="button" id="btnPlusBook" class="btn float-right" data-bs-toggle="modal"
                    data-bs-target="#acervo_add">Nuevo ejemplar<i class="fas fa-plus ml-1"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive bg-white p-2">
            <div class="row pb-2">
                <div class="col-xl-6 d-flex">
                    <span class="align-content-center mr-1">Mostrar</span>
                    <form method="GET" id="form_tab_select">
                        <select name="m_tab" id="select_tabs" class="form-select">
                            <option value="10" {% if request.GET.m_tab == "10" %}selected{% endif %}>10</option>
                            <option value="20" {% if request.GET.m_tab == "20" %}selected{% endif %}>20</option>
                            <option value="50" {% if request.GET.m_tab == "50" %}selected{% endif %}>50</option>
                            <option value="100" {% if request.GET.m_tab == "100" %}selected{% endif %}>100</option>
                        </select>
                    </form>
                </div>
                <div class="col-xl-6 col-md-4 col-sm-4">
                    <div class="search d-flex justify-content-end">
                        <form method="GET">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="search" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                    <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <button type="submit" class="btn">Buscar</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if list_acervo %}
                <table id="acervoTable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Titulo</th>
                            <th class="text-center">Autor</th>
                            <th class="text-center">Edición</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Colocación</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in list_acervo %}
                        <tr id="info_data" data-coloca="{{ list.colocacion }}" data-title="{{ list.titulo }}"
                            data-autor="{{ list.autor }}" data-edit="{{ list.editorial }}" data-cant="{{ list.cant }}"
                            data-edicion="{{ list.edicion }}" data-anio="{{ list.anio }}" data-adqui="{{ list.adqui }}"
                            data-state="{{ list.estado }}" data-formato="{{ list.formato }}" data-id="{{ list.id }}" data-base64="{{ list.base64 }}">
                            <td>{{ list.titulo }}</td>
                            <td>{{ list.autor }}</td>
                            <td>{{ list.edicion }}</td>
                            <td class="text-right">{{ list.cant }}</td>
                            <td>{{ list.colocacion }}</td>
                            <td class="text-center">
                                {% if list.estado == "Excelente" or list.estado == "EXC" %}
                                <i class="fas fa-circle" style="color:#2ed255"></i>
                                {% endif %}
                                {% if list.estado == "Bueno" or list.estado == "BUE" %}
                                <i class="fas fa-circle" style="color:#d26812"></i>
                                {% endif %}
                                {% if list.estado == "Regular" or list.estado == "REG" %}
                                <i class="fas fa-circle" style="color:#ede057"></i>
                                {% endif %}
                                {% if list.estado == "Malo" or list.estado == "MAL" %}
                                <i class="fas fa-circle" style="color:#ff0000"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a type="button" id="more_info" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Ve registro completo"><i class="fas fa-eye text-success"></i></a>
                                <!-- Editar el registro -->
                                <a type="button" id="edit_register" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Editar"><i class="fas fa-edit text-info"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'acervo/paginacion.html' %}
            {% else %}
                {% include 'sin_registros.html' %}
            {% endif %}
            <!-- Descripción para indicadores de colores -->
            <div class="row">
                <div class="col-xl-10">
                    <table>
                        <td><i class="fas fa-circle" style="color:#2ed255"></i></td>
                        <td class="pt-3 pl-1 pr-3">
                            <p><i class="fas fa-long-arrow-alt-right"></i> Excelente</p>
                        </td>
                        <td><i class="fas fa-circle" style="color:rgb(210, 104, 18)"></i></td>
                        <td class="pt-3 pl-1 pr-3">
                            <p><i class="fas fa-long-arrow-alt-right"></i> Bueno</p>
                        </td>
                        <td><i class="fas fa-circle" style="color:rgb(237, 224, 87)"></i></td>
                        <td class="pt-3 pl-1 pr-3">
                            <p><i class="fas fa-long-arrow-alt-right"></i> Regular</p>
                        </td>
                        <td><i class="fas fa-circle" style="color:rgb(255, 0, 0)"></i></td>
                        <td class="pt-3 pl-1 pr-3">
                            <p><i class="fas fa-long-arrow-alt-right"></i> Malo</p>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- Se incluye el html de modal -->
{% include 'acervo/modal.html' %}
{% endblock %}
{% block js %}
<script src="{% static 'js/acervo.js' %}"></script>
{% endblock %}