Django==5.0.4
django-environ==0.11.2
django-session-security==2.6.7
django-import-export==4.1.1
Pillow>=10.4.0
python-dotenv==1.0.1
python-decouple==3.8
supervisor==4.2.5
gunicorn >= 22.0.0,<23.0.0
openpyxl==3.1.5
django-redis >=5.4.0,<5.5.0
pandas >= 2.2.2,<2.3.0
django-debug-toolbar >= 4.4.6, <5.0.0