{% extends 'base.html' %}
{% load static %}
{% block title %}Proyectos de estadías{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estadias.css' %}">
{% endblock %}
{% block content %}

<!-- Content Header (Page header) -->
<div id="proyectos">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Proyectos de estadías</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio:inicio' %}"><i
                                    class="fas fa-home" style="color: black;"></i></a>
                        </li>
                        <li class="breadcrumb-item text-info">Proyectos de estadías</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="content mx-4 pb-4">
        <div id="contentTitle" class="row">
            <div class="col-xl-6 align-self-center">
                <h5 class="text-bold">Concentrado de reportes</h5>
            </div>
            {% if '32 Tutoreo - Tutor' in grupo_control or 'Biblioteca' in grupo_control %}
            <div class="col-xl-6">
                <a type="button" id="btnPlusBook" class="btn float-right" data-bs-toggle="modal"
                    data-bs-target="#modal_registro">Registrar proyecto<i class="fas fa-plus ml-1"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="bg-white p-2">
           <!-- Selector y búsqueda -->
            <!-- Selector y búsqueda -->
             <div class="row my-3">
                <div class="col-sm-6 col-xl-8 d-flex mb-2 mb-sm-0">
                    <span class="align-content-center mr-1">Mostrar</span>
                    <select name="m_tab"
                        id="m_tab"
                        class="form-select"
                        style="width: auto; min-width: 70px;"
                        hx-get="{% url 'estadias:partial_tabla_proyectos' %}"
                        hx-target="#tabla-proyectos-container"
                        hx-trigger="change"
                        hx-swap="innerHTML">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="form-group">
                        <input type="search"
                            name="buscar"
                            placeholder="Buscar..."
                            class="form-control"
                            hx-get="{% url 'estadias:partial_tabla_proyectos' %}"
                            hx-target="#tabla-proyectos-container"
                            hx-trigger="keyup changed delay:300ms"
                            hx-swap="innerHTML">
                    </div>
                </div>

             </div>

           <div class="table-responsive" id="tabla-proyectos-container"
                hx-get="{% url 'estadias:partial_tabla_proyectos' %}"
                hx-trigger="load"
                hx-target="#tabla-proyectos-container"
                hx-swap="innerHTML">
                <!-- Aquí podría ir un spinner o "Cargando..." -->
            </div>
            
        </div>
    </div>
    <p id="response_sweetalert" data-resp="{{ response }}" style="display: none;"></p>
</div>
{% include 'estadias/modal.html' %}
{% endblock %}
{% block js %}
<script src="{% static 'js/estadias.js' %}"></script>
{% endblock %}