{% extends 'login/base.html' %}

{% block title %} Iniciar Sesión {% endblock %}

{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-content-center vh-100">
    <div class="row justify-content-center align-content-center">
        <div class="col-10 col-sm-5 col-md-7 col-lg-6">
            <div class="card rounded-3 text-black">
                <div class="card-body">
                    <div class="text-center">
                        <img id="logoImgUts" src="{% static 'img/Logo-UTS.png' %}" alt="logo">
                        <h4 class="text-bold">Biblioteca Digital</h4>
                    </div>
                    <form class="form mt-1" method="POST">
                        {% csrf_token %}
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="login" 
                                placeholder="Nombre de usuario (matrícula o número de empleado)" 
                                aria-label="Nombre de usuario" 
                                autocomplete="off">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100">
                            <input class="input100" type="password" name="password" placeholder="Contraseña" aria-label="Contraseña" autocomplete="off">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                    {% if show_modal_login_success %}
                    <!-- include modal_login_success.html -->
                    {% include 'login/modal_login_success.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% if show_modal_login_success %}
<script>
    console.log('entra');
    
    document.addEventListener("DOMContentLoaded", function () {
        const loginSuccessModal = new bootstrap.Modal(document.getElementById('LoginSuccess'), {
            keyboard: false,
            backdrop: 'static'
        });

        loginSuccessModal.show();

        // Redirigir cuando el usuario haga clic en el botón
        document.getElementById('continue-button').addEventListener('click', function () {
            window.location.href = "{% url 'usuario:verify_account' %}";
        });
    });
</script>
{% endif %}
{% endblock %}