<div class="modal fade show" id="LoginSuccess" tabindex="-1" role="dialog" aria-labelledby="LoginSuccessLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content" >
            <div class="modal-body" >
                <dib class="row justify-content-center" >
                    <div class="col-12 mt-3 text-center" >
                        <!--img src="" alt="aut" style="width: 12rem;"/-->
                        <i class="fas fa-user-shield fas-2xl" style="--fa-animation-duration: 0.5s;"></i>
                    </div>
                    <div class="col-10 my-4 text-center" >
                        <h2 class="modal-title" id="LoginSuccessLabel">
                            Por motivos de seguridad confirma tu identidad
                        </h2>
                    </div>
                    <!--!-->

                    <div class="col-10 mb-4 text-center" >
                        <p>
                            Te hemos enviado un código a tu correo electrónico Sólo
                            podrás generar 3 códigos en un periodo de 24 horas.
                        </p>
                    </div>
                    <!--!-->
                    <div class="col-8 d-grid gap-2" >
                        <button class="login100-form-btn" data-bs-dismiss="modal" id="continue-button">
                            Continuar
                        </button>
                    </div>
                </dib>
            </div>
        </div>
    </div>
</div>