#catalogo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#catalogo #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#catalogo #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

#pdfContainer {
    height: 600px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

table.dataTable td, th {
    font-size: 0.9rem;
}

#vista_prestamos {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#vista_prestamos #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#vista_prestamos #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

/* 
#vista_prestamos .table-responsive {
    border-radius: 0 0 10px 10px;
}
*/
#pedidos {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#pedidos #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#pedidos #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

/*
#pedidos .table-responsive {
    border-radius: 0 0 10px 10px;
}
*/