{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <!-- Grid column -->
            <div class="col-xl-3 col-md-4 col-12">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                    UTS SISTEMA BIBLIOTECARIO
                </h6>
                <p>
                    <img src="{% static 'img/logo1.png' %}" width="150px" height="150px">
                </p>
            </div>
            <!-- Grid column -->
            <!--hr class="w-100 clearfix d-md-none" /-->
            <div class="col-xl-6 col-md-4 col-12">
                <h6 class="text-uppercase mb-4 font-weight-bold">Estamos para servirte:</h6>
                <p><i class="fas fa-home mr-1"></i> Dirección:<br> Av. Universidad Tecnológica #200 Salamanca, Gto.</p>
                <p><i class="fas fa-phone mr-1"></i>Tel:<br><a href="tel:01 (464) 647 38" style="color: white;">01 (464)
                        647 38</a></p>
            </div>
            <div class="col-xl-3 col-md-4 col-12">
                <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos en:</h6>
                <!-- Facebook -->
                <div>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                        href="https://www.facebook.com/UTSalamanca" role="button"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee"
                        href="https://twitter.com/UTSoficial" role="button"><i class="fab fa-twitter"></i></a>
                    <!-- YOUTUBE -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
                        href="https://www.youtube.com/channel/UC7WAk8k8n_Nd91EXH9B1LHA" role="button"><i
                            class="fab fa-youtube"></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                        href="https://www.instagram.com/utsoficial/" role="button"><i class="fab fa-instagram"></i></a>
                    <!-- TELEGRAM-->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0083ca85"
                        href="https://t.me/utsalamanca" role="button"><i class="fab fa-telegram-plane"></i></a>
                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca"
                        href="https://mx.linkedin.com/company/utsalamanca" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!-- TIKTOK -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333"
                        href="https://www.tiktok.com/@utsoficial" role="button"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--Grid row-->
    <!-- Section: Links -->

    <!-- Copyright -->
    <div class="py-3 d-flex justify-content-between align-content-center" id="Copyright" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="text-left" id="textCopyright">
            <strong>Copyright &copy; 2024 <a href="https://www.utsalamanca.edu.mx/">UTS</a>.</strong> Todos los derechos
            reservados.
        </div>
        <div class="pr-3">
            <b>Version</b> 1.0.0
        </div>
    </div>
</footer>
<!-- End of .container -->