{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'inicio:inicio' %}" class="brand-link">
        <img src="{% static 'img/utsLogo.png' %}" alt="Biblioteca Logo" class="brand-image"
            style="width: 55px; height: 100%;">
        <span class="brand-text font-weight-light">BibliotecaDigital</span>
    </a>
    
    <div class="brand-link d-flex">
        <i class="fas fa-user brand-image align-content-center" style="opacity: .8"></i>
        <span class="brand-text font-weight-light">{{ user }}</span>
    </div>
    <div class="brand-link d-flex">
        <i class="fab fa-readme brand-image align-content-center" style="opacity: .8"></i>
        <span class="brand-text font-weight-light" style="font-size: 1rem;">"Un lector vive mil vidas <br> antes de morir"</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                <li class="nav-item">
                    {% if data.side_code == 100 %}
                    <a href="{% url 'inicio:inicio' %}" class="nav-link active">
                        {% else %}
                        <a href="{% url 'inicio:inicio' %}" class="nav-link">
                            {% endif %}
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Inicio
                            </p>
                        </a>
                </li>
                <!-- Sección de Acervo -->
                {% if 'Biblioteca' in grupo_control %}
                <li class="nav-item">
                    {% if side_code == 200 %}
                    <a href="{% url 'acervo:acervo' %}" class="nav-link active">
                        {% else %}
                        <a href="{% url 'acervo:acervo' %}" class="nav-link">
                            {% endif %}
                            <i class="nav-icon fas fa-warehouse"></i>
                            <p>
                                Acervo
                            </p>
                        </a>
                </li>
                {% endif %}
                <!-- Sección de Libros -->
                <li class="nav-item">
                    {% if side_code == 400 or side_code == 401 or side_code == 402 or side_code == 403 %}
                    <a href="#" class="nav-link active">
                        {% else %}
                        <a href="#" class="nav-link">
                            {% endif %}
                            <i class="nav-icon fas fa-book-reader"></i>
                            <p>
                                Libros
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                {% if side_code == 400 %}
                                <a href="{% url 'catalogo:catalogo' %}" class="nav-link active">
                                    {% else %}
                                    <a href="{% url 'catalogo:catalogo' %}" class="nav-link">
                                        {% endif %}
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>Catálogo</p>
                                    </a>
                            </li>
                            <li class="nav-item">
                                {% if side_code == 403 %}
                                <a href="{% url 'catalogo:prestamos_usuario' %}" class="nav-link active">
                                    {% else %}
                                    <a href="{% url 'catalogo:prestamos_usuario' %}" class="nav-link">
                                        {% endif %}
                                        <i class="nav-icon fas fa-list-ul"></i>
                                        <p>Mis prestamos</p>
                                    </a>
                            </li>
                            {% if 'Biblioteca' in grupo_control %}
                                <li class="nav-item">
                                    {% if side_code == 401 %}
                                    <a href="{% url 'catalogo:prestamos_View' %}" class="nav-link active">
                                        {% else %}
                                        <a href="{% url 'catalogo:prestamos_View' %}" class="nav-link">
                                            {% endif %}
                                            <i class="nav-icon fas fa-clipboard-list"></i>
                                            <p>Registro de préstamos</p>
                                        </a>
                                </li>
                                <li class="nav-item">
                                    {% if side_code == 402 %}
                                    <a href="{% url 'catalogo:cargar_portada' %}" class="nav-link active">
                                        {% else %}
                                        <a href="{% url 'catalogo:cargar_portada' %}" class="nav-link">
                                            {% endif %}
                                            <i class="nav-icon fas fa-file-upload"></i>
                                            <p>Cargar portada</p>
                                        </a>
                                </li>
                            {% endif %}
                        </ul>
                </li>
                <!-- Sección de Estadías -->
                <li class="nav-item">
                    {% if side_code == 300 or side_code == 301 %}
                    <a href="#" class="nav-link active">
                        {% else %}
                        <a href="#" class="nav-link">
                            {% endif %}
                            <i class="nav-icon fas fa-boxes"></i>
                            <p>
                                Estadías
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                {% if side_code == 300 or side_code == 301 %}
                                <a href="{% url 'estadias:proyectos' %}" class="nav-link active">
                                    {% else %}
                                    <a href="{% url 'estadias:proyectos' %}" class="nav-link">
                                        {% endif %}
                                        <i class="nav-icon fas fa-file-alt"></i>
                                        <p>Proyectos</p>
                                    </a>
                            </li>
                        </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>