#acervo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#acervo #acervo_add .modal-content #btnModalSend {
    background-color: #0a3d62;
    color: white;
}

#acervo #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#acervo #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

.card-info:not(.card-outline)>.card-header {
    background-color: #3c6382 !important;
}

#acervo_add #tbl_addBook #btnModalSend,
#btnModalUpdate {
    background-color: #0a3d62 !important;
    color: white;
}

.table td, th {
    font-size: 0.8rem;
}

#paginator .page-link {
    font-size: 0.9rem;
    color: black;
}

#acervo #custom-search-input button {
    background-color: #3c6382;
    color: #fff;
}

#acervo #select_tabs {
    max-width: 5rem;
}