#catalogo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#catalogo #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#catalogo #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

#pdfContainer {
    height: 600px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.table td, th {
    font-size: 0.8rem;
}

#vista_prestamos {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#vista_prestamos #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#vista_prestamos #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

/* 
#vista_prestamos .table-responsive {
    border-radius: 0 0 10px 10px;
}
*/
#pedidos {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#pedidos #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#pedidos #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

#carga_portada .card #btn_search_portada {
    background-color: #0a3d62; 
    color: #fff;
    height: 70%;
    margin-left: 0.5rem;
    margin-top: 2rem;
}

#paginator .page-link {
    font-size: 0.8rem;
    color: black;
}

#vista_prestamos #custom-search-input button, 
#catalogo #custom-search-input button {
    background-color: #3c6382;
    color: #fff;
}

#vista_prestamos #select_tabs {
    max-width: 5rem;
}

#catalogo #catalogoTable #btnPedidoBook i {
    color: #3c6382;
}