#proyectos {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#proyectos #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#proyectos #btnPlusBook {
    background-color: #3c6382;
    color: white;
    align-items: center;
}

#pdfContainer {
    height: 600px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.table td, th {
    font-size: 0.8rem;
}

#proyectos #modal_registro #header_card {
    background-color: #0a3d62 !important;
}

#paginator .page-link {
    font-size: 0.8rem;
    color: black;
}

#proyectos #custom-search-input button {
    background-color: #3c6382;
    color: #fff;
}

#proyectos #select_tabs {
    max-width: 5rem;
}