.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#home #bg_init {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home #bg_init img {
    -webkit-box-shadow: -1px 4px 24px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 24px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 24px 4px rgba(0, 0, 0, 0.75);
}

#home #chartColumAdqui {
    text-decoration: none;
}

#home #contentTitle {
    color: white;
    background-color: #0a3d62;
    border-radius: 10px;
    padding: 1rem;
}

#paginator_inicio .page-link {
    font-size: 0.8rem;
    color: black;
}

.table td, th {
    font-size: 0.9rem;
}

#home #custom-search-input button {
    background-color: #3c6382;
    color: #fff;
}