{%extends 'base.html'%}
{%load static%}
{%block title%}Catálogo{%endblock%}
{%block content%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
{% endblock %}

<div id="catalogo">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Catálogo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{% url 'inicio:inicio' %}"><i class="fas fa-home" style="color: black;"></i></a>
                        </li>
                        <li class="breadcrumb-item text-info">Catálogo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="content mx-4 pb-4">
        <div id="contentTitle" class="row">
            <div class="col-xl-6 align-self-center">
                <h5 class="text-bold">Ejemplares</h5>
            </div>
        </div>
        <div class="bg-white p-2">    
            <div class="row pb-2 my-3">
                <div class="col-xl-6 d-flex mb-2 mb-md-0">
                    <span class="align-content-center">Mostrar</span>
                    <form method="GET" id="form_tab_select">
                        <select name="m_tab" id="select_tabs" class="form-select">
                            <option value="10" {% if request.GET.m_tab == "10" %}selected{% endif %}>10</option>
                            <option value="20" {% if request.GET.m_tab == "20" %}selected{% endif %}>20</option>
                            <option value="50" {% if request.GET.m_tab == "50" %}selected{% endif %}>50</option>
                            <option value="100" {% if request.GET.m_tab == "100" %}selected{% endif %}>100</option>
                        </select>
                    </form>
                </div>
                <div class="col-xl-6">
                    <div class="search d-flex justify-content-start justify-content-md-end">
                        <form method="GET">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="search" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                                    <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <button type="submit" class="btn">Buscar</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if listado %}
                <div class="row">
                    {% for p in listado %}
                    <div class="col-xl-4 col-md-6 mb-3">
                        <div class="card mb-3 catalogoCard h-100" style="max-width: auto;">
                            <div class="row no-gutters">
                                <div class="col-sm-4">
                                    {% if p.base64 and p.base64 != 'None' %}
                                    <img alt="portada" class="card-img" style="max-width: 100%; height: auto;" src="data:image/png;base64,{{ p.base64 }}">
                                    {% else %}
                                    <img alt="portada" class="card-img" style="max-width: 100%; height: auto;" src="{% static 'img/portada_default.png' %}">
                                    {% endif %}
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body">
                                        <h5 class="mb-3">{{p.titulo}}</h5>
                                        <p class="card-text">{{p.autor}}</p>
                                        <p class="card-text">{{p.anio}}</p>
                                        {% if p.cant == 0 %}
                                        <p class="card-text"><span class="text-bold text-danger">Agotado</span></p>
                                        {% else %}
                                        <a type="button"
                                            id="btnPedidoBook"
                                            class="btn btn-link float-right {% if p.cant == 0 %}disabled{% endif %}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal_catalogo"
                                            data-bs-placement="top"
                                            title="Realizar préstamo"
                                            {% if p.cant == 0 %}aria-disabled="true" tabindex="-1"{% endif %}
                                            data-base64="{{p.base64}}"
                                            data-titulo="{{p.titulo}}"
                                            data-autor="{{p.autor}}"
                                            data-edicion="{{p.edicion}}"
                                            data-colocacion="{{p.colocacion}}"
                                            data-persona="{{user}}"
                                            data-formatoejem="{{p.formato}}"
                                            data-cantidad="{{p.cant}}">
                                            <i class="fas fa-book ml-1"></i> Solicitar
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include 'catalogo/paginacion.html' %}
            {% else %}
                {% include 'sin_registros.html' %}
            {% endif %}
        </div>
    </div>
</div>

{% include 'catalogo/modal.html' %}
{%endblock%}
{% block js %}
<script src="{% static 'js/catalogo.js' %}"></script>
{% endblock %}